version: "3.8"

services:
  nginx:
    build:
      context: ..
      dockerfile: docker/nginx/Dockerfile
    ports:
      - "8443:8443"
      - "8080:8080"
    volumes:
      - ../certs/server:/etc/nginx/certs/server:ro
      - ../nginx_site/html:/usr/share/nginx/html:ro
    restart: unless-stopped